# dependencies
node_modules

# Alchemy local state
.alchemy

# misc
.DS_Store

# env files
.env*
!.env.example

# TurboRepo
.turbo

# Wrangler build state
**/.wrangler/

# SSH key
*key_rsa

# Apple
apple-auth-key.p8
